#product-details {
	.detail {
		border: 1px solid $grey-line2-cl;
		&-carousel {
			padding: 50px 50px 50px 0;
			border-right: 1px solid $grey-line2-cl;
			height: 100%;
			@include desktop {
				border: none;
			}
			@include tablet {
				padding: 30px 0;
			}
			.controls {
				display: flex;
				align-items: center;
				padding: 30px 0 0 0;
				button {
					width: 50px;
					height: 50px;
					background: $black-cl;
					border-radius: 50%;
					outline: none;
					border: none;
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					img {
						width: 13px;
					}
					&.prev {
						margin-right: 20px;
						img {
							transform: rotate(180deg);
						}
					}
				}
			}
		}
		&-content {
			padding: 50px 0;
			@include tablet {
				padding: 30px 0;
			}
			h2 {
				font-family: $font-elle;
				color: $black-4-cl;
				font-size: 32px;
				line-height: 1.25;
				letter-spacing: normal;
				@include desktop {
					margin-bottom: 15px;
				}
			}
			ul.price {
				display: flex;
				align-items: center;
				padding: 25px 0;
				li {
					&:nth-child(1) {
						margin-right: 54px;
					}
					p {
						text-transform: uppercase;
						font-size: 16px;
						font-weight: bold;
						letter-spacing: 1.6px;
						display: inline-block;
						color: #5b4816;
					}
				}
			}
			ul.info {
				display: flex;
				align-items: center;
				margin-bottom: 20px;
				li {
					display: block;
					&:nth-child(1) {
						margin-right: 36px;
					}
					p {
						font-size: 14px;
						color: $black-cl;
						letter-spacing: 1.4px;
						line-height: 3.86;

						@include desktop {
							line-height: 2.8;
						}
					}
				}
			}
			.desc {
				h3 {
					font-size: 12px;
					color: $black-cl;
					text-transform: uppercase;
					line-height: 1.67;
					font-weight: 600;
					margin-bottom: 15px;
				}
				p {
					font-size: 12px;
					color: $black-cl;
					line-height: 1.67;
				}
			}
		}
	}
	.other-product {
		&__wrap {
			border-bottom: 1px solid $grey-line2-cl;
			padding: 60px 0 30px 0;
			@include tablet {
				padding: 40px 0 20px 0;
			}
		}
		&__title {
			padding: 39px 0;
		}
		.product-items {
			position: relative;
			&::before,
			&::after {
				content: "";
				position: absolute;
				height: 85%;
				width: 1px;
				background: #d7d7d7;
				top: 0;
				@include desktop {
					display: none;
				}
			}
			&::before {
				left: calc(100% / 3);
			}
			&::after {
				right: calc(100% / 3);
			}
			.item {
				@include desktop {
					padding: 15px 0;
				}
				.img {
					overflow: hidden;
					cursor: pointer;
					&:hover {
						img {
							transition: 0.6s;
							transform: scale(1.3);
						}
					}
					img {
						transition: 0.6s;
					}
				}
				.text {
					padding: 20px 0;
					@include mobile {
						padding: 15px 0;
					}
					h3.title {
						font-size: 18px;
						line-height: 2.22;
						letter-spacing: -0.45px;
						color: $black-4-cl;
						margin-bottom: 15px;
						@include mobile {
							margin: 10px 0;
						}
					}
					.price {
						font-size: 12;
						letter-spacing: 1.2px;
						color: $black-4-cl;
						text-transform: uppercase;
					}
					.detail {
						display: inline-block;
						margin: 30px 0;
						border: none;
						@include mobile {
							margin: 20px 0;
						}
						a {
							display: flex;
							align-items: baseline;
							&:hover {
								svg {
									right: -60px;
								}
								p {
									right: 30px;
								}
							}
							svg {
								width: 20px;
								position: relative;
								transition: $t;
								right: 0;
							}
							p {
								font-size: 12px;
								font-weight: bold;
								text-transform: uppercase;
								color: $black-4-cl;
								padding-left: 10px;
								transition: $t;
								position: relative;
								right: 0;
							}
						}
					}
				}
			}
		}
	}
	.contact-section {
		.contact-wrap {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.contact-title {
			padding: 15px 0;
			h2 {
				font-size: 14px;
			}
		}
		.desc {
			text-align: center;
			p {
				font-size: 12px;
				line-height: 1.67;
			}
		}
	}
}
