#about-us {
	.banner {
		padding: 175px 0 60px 0;
		@include mobile {
			padding: 155px 0 40px 0;
		}
		@include tablet {
			.title {
				h1 {
					font-size: 38px;
					letter-spacing: 4px;
				}
				p.sub-title {
					font-size: 13px;
				}
			}
		}

		.title {
			text-align: center;
			padding-bottom: 30px;
			h1 {
				font-family: $font-elle;
				font-size: 44px;
				line-height: 1.15;
				letter-spacing: 4.4px;
				color: #745a2d;
				text-transform: uppercase;
				@include mobile {
					font-size: 35px;
				}
				@include mobile-xxs {
					font-size: 30px;
					letter-spacing: 4px;
				}
			}
			p {
				font-family: Arial;
				font-size: 14px;
				line-height: 1.43;
				letter-spacing: 1.4px;
				color: $black-cl;
				display: inline-block;
				padding: 15px 0;
				text-transform: uppercase;
				@include mobile-xxs {
					font-size: 12px;
				}
				@include mobile {
					font-size: 13px;
					padding: 10px 0;
				}
			}
		}
	}
	.line {
		text-align: center;
		.desc {
			p {
				font-size: 14px;
				line-height: 3.29;
				letter-spacing: 1.4px;
				color: #191919;
				@include tablet {
					font-size: 13px;
					line-height: 3;
				}
				@include mobile {
					font-size: 12px;
					line-height: 2.7;
				}
			}
		}
		span {
			display: block;
			width: 1px;
			height: 235px;
			background: $black-cl;
			margin: 15px auto 0 auto;
			@include tablet {
				height: 200px;
			}
			@include mobile {
				height: 180px;
				margin: 10px auto 0 auto;
			}
		}
	}
	.content {
		p {
			line-height: 3.29;
			letter-spacing: 1.4px;
			color: #191919;
			font-size: 14px;
			display: inline-block;
			padding-left: 28px;
			text-align: center;
			@include desktop {
				padding-left: 00;
			}
			@include mobile {
				line-height: 2.75;
				font-size: 13px;
			}
			@include mobile-xxs {
				line-height: 2.45;
				font-size: 12px;
			}
		}
		img {
			padding-right: 28px;
			margin: 115px 0 165px 0;
			@include desktop {
				padding-right: 0;
				margin: 95px 0 125px 0;
			}
			@include mobile {
				margin: 75px 0 95px 0;
			}
			@include mobile-xxs {
				margin: 55px 0;
			}
		}
	}
	.contact {
		p {
			text-align: center;
			color: #191919;
			font-size: 14px;
			line-height: 1.86;
			letter-spacing: 1.4px;
			@include mobile {
				font-size: 13px;
			}
			@include mobile-xxs {
				font-size: 12px;
			}
		}
		.name {
			padding: 30px 0 0 0;
		}
		.img {
			margin: 50px 0;
			@include desktop {
				margin: 30px 0;
			}
			@include mobile {
				margin: 20px 0;
			}
		}
		.btn-group {
			padding-bottom: 70px;
		}
	}
}
